@using CascadianAerialRobotics.Website.Models
@model CommonComponentModel

<!-- Start slider section-->
<div id="top" class="slider">
    <div id="preloader">
        <div id="status"></div>
    </div>
    <div class="full-slider intro">
        <!-- Start slide-->
        <div data-image="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/img/mapping-background.webp" class="slide bg-mask background-image full-vh">
            <div class="container-slide vertical-align center">
                <div class="container">
                    <div class="row">
                        <img src="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/img/logo-no-background.png" alt="Cascadian Aerial Robotics" height="277" width="784" style="display:inline; max-width:100%;height: auto;">

                        <div class="col-md-8 col-md-push-2">
                            <span class="after"></span>
                            <div class="description-slide" style="font-size:large">Drone mapping, photogrammetry and GIS in the Pacific Northwest<br> <span style="color:goldenrod">At the intersection of Engineering and Art</span></div>
                            <div class="description-slide">We enable companies across many industries to operate more efficiently through aerial imagery, remote sensing and geospatial information...</div>
                            <div class="buttons-section"><a href="#whatwedo" class="btn white-btn large-btn">Learn more</a><a href="#getintouch" class="btn dark-btn large-btn">Contact us</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="particles-js" class="canvas-background"></div>
        </div>
        <div class="slide bg-mask full-vh nowebpsupport" style="background-image:url('@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/img/background-construction.webp')" fallback-image="/background-construction.jpg"  >
            <div class="container-slide vertical-align center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12"><a href="https://www.youtube.com/watch?v=C29pdAETCRU" class="icon-play anim-shadow"><i class="pe-7s-play"></i></a></div>
                        <div class="col-md-8 col-md-push-2">
                            <div class="slide-title">We help many industries reach their goals in <span>time and budget</span></div>
                            <div class="description-slide">Such as architecture, engineering and construction firms, with progression reporting, inspections, same-day georectified maps, elevation models, BIM and VDC integration. </div>
                            <div class="buttons-section"><a href="#whatwedo" class="btn white-btn large-btn">Learn more</a><a href="" class="btn accent-btn large-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cascadian-aerial-robotics/introcall'});return false;">Schedule a callback</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div data-image="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/img/background-construction.webp" class="slide bg-mask background-image full-vh">
            <div class="container-slide vertical-align left small-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="heading-title-big">Pixel <span>perfect</span></div>
                            <div class="description-slide">Kanter will look beautiful on any device. Kanter easily and efficiently scales your project with one code base. Serve high-resolution images to devices with retina displays. We have a dedicated support team ready to answer your questions. Feel free to contact us to provide some feedback on our templates or give us suggestions for new themes</div>
                            <div class="buttons-section"><a href="#" class="btn dark-btn large-btn">Get started</a></div>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div class="video-iframe">
                                <iframe src="https://player.vimeo.com/video/152614354?color=1c58ed&amp;amp;title=0&amp;amp;byline=0&amp;amp;portrait=0&amp;amp;badge=0" height="338" allowfullscreen="" class="embed-responsive-item"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div data-image="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/img/background-droneoverwater.webp" class="slide bg-mask background-image full-vh">
            <div class="container-slide vertical-align center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-title-big" style="font-style:italic">aerial robotics: </div><span class="after"></span>
                        </div>
                        <div class="col-md-8 col-md-push-2">
                            <div class="description-slide">The branch of robotics that deals with the design, construction, operation, and application of autonomous aerial vehicles (UAV's) a.k.a Drones.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div data-image="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/img/404.webp" class="slide bg-mask background-image full-vh">
            <div class="container-slide vertical-align center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12"><a href="https://www.youtube.com/watch?v=lm4OJxGQm_E" class="icon-play anim-shadow"><i class="pe-7s-play"></i></a></div>
                        <div class="col-md-8 col-md-push-2">
                            <div class="slide-title">WE ARE <span>DIGITAL AGENCY</span></div>
                            <div class="description-slide">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum</div>
                            <div class="buttons-section"><a href="#" class="btn white-btn large-btn">Get started</a><a href="#" class="btn dark-btn large-btn">Contact us</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="particles-js2" class="canvas-background"></div>
        </div>*@
        @*<!-- Start slide-->
        <div data-image="img/bgn23.jpg" class="slide bg-mask background-image full-vh">
            <div class="container-slide vertical-align center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-title-big">Innovation</div><span class="after"></span>
                        </div>
                        <div class="col-md-8 col-md-push-2">
                            <div class="description-slide">Say hello to the smartest and most flexible bootstrap template. Kanter is an powerful template that can build any type of websites, and quite possibly the only one you will ever need.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start slide-->
        <div data-image="img/bgn6.jpg" class="slide bg-mask background-image full-vh">
            <div class="container-slide vertical-align left small-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="heading-title-big">Pixel <span>perfect</span></div>
                            <div class="description-slide">Kanter will look beautiful on any device. Kanter easily and efficiently scales your project with one code base. Serve high-resolution images to devices with retina displays. We have a dedicated support team ready to answer your questions. Feel free to contact us to provide some feedback on our templates or give us suggestions for new themes</div>
                            <div class="buttons-section"><a href="#" class="btn dark-btn large-btn">Get started</a></div>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div class="video-iframe">
                                <iframe src="https://player.vimeo.com/video/152614354?color=1c58ed&amp;amp;title=0&amp;amp;byline=0&amp;amp;portrait=0&amp;amp;badge=0" height="338" allowfullscreen="" class="embed-responsive-item"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start slide-->
        <div data-image="img/bgn30.jpg" class="slide bg-mask background-image full-vh">
            <div class="container-slide vertical-align center small-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="img-slide"><img src="img/construction.png" alt="alt"></div>
                            <div class="heading-title-big">Kanter agency</div>
                            <div class="buttons-section"><a href="#" class="btn dark-btn large-btn">Who we are</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <!--Contol slider-->
    <div id="dots-control-full-slider" class="dots-control-carousel"></div>
    <!-- Strat Control carousel-->
    <div id="control-full-slider" class="prev-next-block-rotate opacity-control">
        <div class="wrap-prev">
            <div class="prev"><i aria-hidden="true" class="fa fa-angle-left"></i></div>
        </div>
        <div class="wrap-next">
            <div class="next"><i aria-hidden="true" class="fa fa-angle-right"></i></div>
        </div>
    </div><a href="#whatwedo" class="smooth-scroll btn-down"><i aria-hidden="true" class="fa fa-angle-down"></i></a>
</div>
