@using CascadianAerialRobotics.Website.Models
@model CommonComponentModel

<!DOCTYPE html>
<!--
    My Other Drone is a Modified Corellian YT-1300 Transport

                c==o
              _/____\_
       _.,--'" ||^ || "`z._
      /_/^ ___\||  || _/o\ "`-._
    _/  ]. L_| || .||  \_/_  . _`--._
   /_~7  _ . " ||. || /] \ ]. (_)  . "`--.
  |__7~.(_)_ []|+--+|/____T_____________L|
  |__|  _^(_) /^   __\____ _   _|
  |__| (_){_) J ]K{__ L___ _   _]
  |__| . _(_) \v     /__________|________
  l__l_ (_). []|+-+-<\^   L  . _   - ---L|
   \__\    __. ||^l  \Y] /_]  (_) .  _,--'
     \~_]  L_| || .\ .\\/~.    _,--'"
      \_\ . __/||  |\  \`-+-<'"
        "`---._|J__L|X o~~|[\\
               \____/ \___|[//
                `--'   `--+-'
-->
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>@(Model.Metadata.Page)</title>
    <meta name="description" content="@(Model.Metadata.Description)">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @*<meta property="og:title" content="Homepage">
    <meta property="og:site_name" content="Cascadian Aerial Robotics LLC">
    <meta property="og:url" content="https://www.cascadianaerialrobotics.com">
    <meta property="og:description" content="Drone mapping, photogrammetry and GIS services in the Pacific Northwest">
    <meta property="og:type" content="website">
    <meta property="og:image" content="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/img/open-graph-image.png">*@
    <!--Favicon-->
    <link rel="icon" href="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/img/favicon/favicon.ico">
    <!--Libs css-->
    <link rel="stylesheet" href="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/v1-0/css/libs.css">
    <!--Main css-->
    <link rel="stylesheet" href="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/v1-0/css/main.css">

    <!-- App Insights-->
    @Html.Raw(JavaScriptSnippet.FullScript)
    <!-- App Insights-->

    <script>

        function setVariable(feature, availability) {
            console.log('Entering set variable function');
            window.webPSupport = availability;
            window.legacyImagesUrl = "@(Model.PubliclyExposedStringsProvider.LegacyImagesUrl)";
        };

        
            // check_webp_feature:
        //   'feature' can be one of 'lossy', 'lossless', 'alpha' or 'animation'.
        //   'callback(feature, result)' will be passed back the detection result (in an asynchronous way!)
        function check_webp_feature(feature, callback) {
            console.log('Entering check_webp_feature function');
            var kTestImages = {
                lossy: "UklGRiIAAABXRUJQVlA4IBYAAAAwAQCdASoBAAEADsD+JaQAA3AAAAAA",
                lossless: "UklGRhoAAABXRUJQVlA4TA0AAAAvAAAAEAcQERGIiP4HAA==",
                alpha: "UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAwAAAARBxAR/Q9ERP8DAABWUDggGAAAABQBAJ0BKgEAAQAAAP4AAA3AAP7mtQAAAA==",
                animation: "UklGRlIAAABXRUJQVlA4WAoAAAASAAAAAAAAAAAAQU5JTQYAAAD/////AABBTk1GJgAAAAAAAAAAAAAAAAAAAGQAAABWUDhMDQAAAC8AAAAQBxAREYiI/gcA"
            };
            var img = new Image();
            img.onload = function () {
                var result = (img.width > 0) && (img.height > 0);
                callback(feature, result);
            };
            img.onerror = function () {
                callback(feature, false);
            };
            img.src = "data:image/webp;base64," + kTestImages[feature];
        };

        check_webp_feature('lossy', setVariable);


    </script>

</head>
<body class="dark-load">

    @await Component.InvokeAsync("Header")

    @RenderBody()

    @await Component.InvokeAsync("Footer")


    <!--Libs-->
    <script src="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/v1-0/js/libs.js"></script>
    <!--Use scripts-->
    <script src="@(Model.PubliclyExposedStringsProvider.StaticFilesUrl)/v1-0/js/common.js"></script>
    <script src="~/v1-0/js/cascadian.js"></script>
</body>

</html>
